<div role="button" class="card" (click)="onViewArtist(artist)">
  <img [src]="artist.picture_medium" class="card-img-top" [attr.alt]="artist.name" />
  <div class="card-body">
    <h5 class="card-title">{{artist.name}}</h5>
    <div class="card-text">
      <p class="mb-2">
        {{artist.nb_fan}} Fans
      </p>
      <p class="mb-0 d-block d-sm-block">
        {{artist.nb_album}} Albums
      </p>
    </div>
  </div>
</div>
