@use "../../../../../assets/styles/variables" as var;

:host {
  display: block;
  height: 100%;
}

.card {
  height: 100%;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 0 10px rgba(var.$black, 0.2);
    transform: scale(0.98);
  }
}
