@use '../../../../assets/styles/utils' as utils;
@use '../../../../assets/styles/variables'as var;
@use "~bootstrap/scss/mixins/breakpoints"as breakpoints;

.deezer-logo {
  width: utils.rem(100px);
  @include breakpoints.media-breakpoint-down(sm, var.$grid-breakpoints) {
    width: utils.rem(30px);
  }
}

.search-form {
  width: utils.rem(500px);
  @include breakpoints.media-breakpoint-down(lg, var.$grid-breakpoints) {
    width: utils.rem(400px);
  }
  @include breakpoints.media-breakpoint-down(sm, var.$grid-breakpoints) {
    width: utils.rem(200px);
  }
  &__icon {
    border-right: 0;
  }
  &__control {
    outline: none;
    box-shadow: none;
  }
}
