<div class="navbar bg-light">
  <div class="container justify-content-md-start">
    <a routerLink="/" class="navbar-brand d-flex align-items-center">
      <picture>
        <source media="(min-width: 576px)" srcset="/assets/images/logo-large.svg">
        <img src="/assets/images/logo.svg" class="deezer-logo" alt="Deezer" />
      </picture>
    </a>
    <div class="search-form">
      <form role="form" [formGroup]="searchForm">
        <input type="search" class="form-control search-form__control border" placeholder="Search here..." formControlName="search"/>
      </form>
    </div>
  </div>
</div>
