$success: #20B14D;
$primary: #f39a00;
$black: #000000;
$white: #ffffff;
$gray-400: #ced4da !default;
$secondary: #F3F3F3;
$border-color: #eeeff0;

// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1300px,
  xxl: 1600px
);
