<div class="container my-5">
  <ng-container [ngSwitch]="(searchState$ | async)">
    <ng-container *ngSwitchCase="searchStates.loading">
      <div class="text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="searchStates.loaded">
      <app-artist-list
        [artists]="(artists$ | async)!"
        (viewArtist)="onViewArtist($event)">
      </app-artist-list>
    </ng-container>
    <ng-container *ngSwitchCase="searchStates.failed">
      <div class="text-center alert alert-warning" role="alert">
        {{searchError$ | async }}
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div class="p-2 text-center">
        <h4>Please use the search field to start searching for your artist</h4>
      </div>
    </ng-container>
  </ng-container>
</div>
