@use "../../../../../assets/styles/utils" as utils;
@use "../../../../../assets/styles/variables" as var;
@use "~bootstrap/scss/mixins/breakpoints" as breakpoints;

.album {

  &__image {
    width: 100%;
    height: auto;
    display: block;
    @include breakpoints.media-breakpoint-down(md, var.$grid-breakpoints) {
      width: auto;
      max-width: 100%;
    }
  }

  &__information{
    padding-top: utils.rem(10px);
  }

  &__title {
    font-size: utils.rem(16px);
    font-weight: bold;
  }

  &__release-date {
    font-size: utils.rem(15px);
    font-weight: 300;
  }

}
