<div class="album">
    <img [src]="album.cover_medium" [attr.alt]="album.title" class="album__image" />
    <div class="album__information">
      <h5 class="album__title">{{album.title}}</h5>
      <h5 class="album__release-date">{{album.release_date | date: 'YYYY'}}</h5>
    </div>
</div>
