<div class="container my-5">
  <div class="row g-3 mb-4">
    <div class="col-12 col-md-7 col-lg-8">
      <app-artist-profile
        [artist]="(artist$ | async)"
        [loading]="(artistLoading$ | async)"
        [error]="(artistError$ | async)">
      </app-artist-profile>
    </div>
    <div class="col-12 col-md-5 col-lg-4">
      <app-top-track-list
        [trackList]="(topTrackList$ | async)"
        [loading]="(topTrackListLoading$ | async)"
        [error]="(topTrackListError$ | async)">
      </app-top-track-list>
    </div>
  </div>

  <div class="mb-4">
    <app-album-list
      [albumList]="(albumList$ | async)"
      [loading]="(albumListLoading$ | async)"
      [error]="(albumListError$ | async)">
    </app-album-list>
  </div>

  <div class="mb-4 text-center">
    <a routerLink="/" class="btn btn-primary text-white">Back</a>
  </div>
</div>
