<ng-container *ngIf="loading; else profileLoadedTmpl">
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-container>
<ng-template #profileLoadedTmpl>
  <div class="artist-profile" *ngIf="artist">
    <img [src]="artist?.picture_big" [attr.alt]="artist?.name" class="artist-profile__image"/>
    <div class="artist-profile__overlay">
      <div class="artist-profile__overlay__info pt-3 pt-sm-0">
        <h1 class="artist-profile__name">{{artist?.name}}</h1>
        <h5 class="artist-profile__stats">{{artist?.nb_fan}} fans</h5>
        <br/>
        <h5 class="artist-profile__stats d-none d-sm-inline-block">{{artist?.nb_album}} albums</h5>
      </div>
    </div>
  </div>

</ng-template>

<ng-container *ngIf="!loading && error">
  <div class="alert alert-warning w-100" role="alert">
    {{error}}
  </div>
</ng-container>
