@use "../../../../../assets/styles/utils" as utils;
@use "../../../../../assets/styles/variables" as var;
@use "~bootstrap/scss/mixins/breakpoints" as breakpoints;

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  @include breakpoints.media-breakpoint-up(md, var.$grid-breakpoints) {
    height: utils.rem(400px);
    background: var.$gray-400;
  }
}

.artist-profile {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1 1 100%;

  &__image {
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
  }

  &__overlay {
    color: var.$black;
    @include breakpoints.media-breakpoint-up(md, var.$grid-breakpoints) {
      background: linear-gradient(to right, rgba(var.$black,0.8), rgba(var.$black,0));
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      padding: utils.rem(20px);
      color: var.$white;
    }
  }
  &__name {
    font-weight: bold;
  }

  &__stats {
    border-bottom: 2px currentColor solid;
    display: inline-block;
  }
}
