<ng-container *ngIf="loading; else tracksLoadedTmpl">
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-container>
<ng-template #tracksLoadedTmpl>
  <div class="track-list" *ngIf="hasData">
    <h6>Top Tracks</h6>
    <div class="track-list__body">
      <ng-container *ngFor="let track of trackList; let i = index; trackBy: trackById">
        <app-top-track-list-item
          [track]="track"
          [trackIndex]="i">
        </app-top-track-list-item>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-container *ngIf="!loading && error">
  <div class="alert alert-warning w-100" role="alert">
    {{error}}
  </div>
</ng-container>


