@use "../../../../../assets/styles/utils" as utils;
@use "../../../../../assets/styles/variables" as var;
@use "~bootstrap/scss/mixins/breakpoints" as breakpoints;

:host {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px var.$black solid;
  padding: utils.rem(10px) 0;
}

.track-list {
  height: 100%;
  width: 100%;
  flex: 1 1 100%;

  padding: utils.rem(20px);

  &__body {
    padding: utils.rem(20px) 0;

    app-top-track-list-item {
      border-bottom: 2px var.$black solid;

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
