<h5>Albums</h5>

<ng-container *ngIf="loading; else albumsLoadedTmpl">
  <div class="text-center p-5">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-container>
<ng-template #albumsLoadedTmpl>
  <div class="track-list__body" *ngIf="hasData">
    <div class="row justify-content-center g-3">
      <div class="col-12 col-sm-5 col-lg-3 col-xxl-3" *ngFor="let album of albumList; let i = index; trackBy: trackById">
        <app-album-list-item
          [album]="album">
        </app-album-list-item>
      </div>
    </div>
  </div>
</ng-template>

<ng-container *ngIf="!loading && error">
  <div class="alert alert-warning" role="alert">
    {{error}}
  </div>
</ng-container>


