<div class="row justify-content-center g-3">
  <div class="col-12 col-sm-5 col-lg-4 col-xxl-3" *ngFor="let artist of artists; trackBy: trackById">
    <app-artist-list-item [artist]="artist" (viewArtist)="onViewArtist($event)"></app-artist-list-item>
  </div>
</div>

