<div class="row" [attr.title]="track.title">
  <div class="col">
    {{computedIndex}}. {{track.title_short}}
  </div>
  <div class="col-auto">
    {{track.duration | secondsToDuration }}
  </div>
</div>
